.host {
    display: block;
}
.content-wrap {
    button {
        margin: 5px;
        padding: 5px 10px;
    }
}

.text-wrap {
    display: flex;
    align-items: end;

    h2 {
        margin-right: 10px;
    }
}